certifi
Flask-SQLAlchemy
greenlet
idna
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
requests
urllib3
Werkzeug
psycopg2-binary
attrs
charset-normalizer
click
coverage
exceptiongroup
Flask
gunicorn
iniconfig
packaging
pluggy
pytest
pytest-cov
tomli
typing_extensions
zipp
bcrypt
Flask-Bcrypt
colorama
Flask-JWT-Extended
PyJWT
SQLAlchemy